#list of ordered library list
#only libraries in this list are available
LIBS=(SAMPLE_LIB SSL_111 SSL_110 SSL_102 SSL_100 SSL_098 LIB_USB LIB_PCSC LIB_ZLIB);

#SampleLib 0.2.9sl
SAMPLE_LIB="0"; #Enable/Disable (1|0)
SAMPLE_LIB_name="SampleLib"; #Displayname
SAMPLE_LIB_version="0.2.9sl"; #Versionnumber
SAMPLE_LIB_check="samplelib.pc"; #Filename to check in pkgconfig folder for an existing library to get version information
SAMPLE_LIB_url="https://sampleurl.com/archive.tar.bz"; #Valid URL for downloading sources of library
#List of build commands below. Pay attention to the SEMICOLON at the end of EACH
#command and the correct quoting (\' or ") for or to avoid expansion of variables.
#Tokens @TOOLCHAIN@, @CC@, @RANLIB@, @PREFIX@ are replaced automatically.
SAMPLE_LIB_tasks=("export TOOLCHAIN=@TOOLCHAIN@;"); #build command1
SAMPLE_LIB_tasks+=("export CC=@CC@;"); #build command2
SAMPLE_LIB_tasks+=("export RANLIB=@RANLIB@;"); #build command3
SAMPLE_LIB_tasks+=('export PATH="$TOOLCHAIN/bin:$PATH";'); #build command4
SAMPLE_LIB_tasks+=("./Configure --prefix=@PREFIX@/ linux-generic32 shared;"); #build command5
SAMPLE_LIB_tasks+=("make;"); #build command6
SAMPLE_LIB_tasks+=("make install;"); #build command7

#OpenSSL 1.1.1d
SSL_111="1";
SSL_111_name="OpenSSL";
SSL_111_version="1.1.1d";
SSL_111_check="openssl.pc";
SSL_111_url="https://www.openssl.org/source/openssl-1.1.1d.tar.gz";
SSL_111_tasks=("export TOOLCHAIN=@TOOLCHAIN@;"); 
SSL_111_tasks+=("export CC=@CC@;"); 
SSL_111_tasks+=("export RANLIB=@RANLIB@;"); 
SSL_111_tasks+=('export PATH="$TOOLCHAIN/bin:$PATH";'); 
SSL_111_tasks+=("./Configure --prefix=@PREFIX@/ linux-generic32 shared;"); 
SSL_111_tasks+=("make;"); 
SSL_111_tasks+=("make install;"); 

#OpenSSL 1.1.0l
SSL_110="1";
SSL_110_name="OpenSSL";
SSL_110_version="1.1.0l";
SSL_110_check="openssl.pc";
SSL_110_url="https://www.openssl.org/source/openssl-1.1.0l.tar.gz";
SSL_110_tasks=("export TOOLCHAIN=@TOOLCHAIN@;"); 
SSL_110_tasks+=("export CC=@CC@;"); 
SSL_110_tasks+=("export RANLIB=@RANLIB@;"); 
SSL_110_tasks+=('export PATH="$TOOLCHAIN/bin:$PATH";'); 
SSL_110_tasks+=("./Configure --prefix=@PREFIX@/ linux-generic32 shared;"); 
SSL_110_tasks+=("make;"); 
SSL_110_tasks+=("make install;"); 

#OpenSSL 1.0.2u
SSL_102="1";
SSL_102_name="OpenSSL";
SSL_102_version="1.0.2u";
SSL_102_check="openssl.pc";
SSL_102_url="https://www.openssl.org/source/openssl-1.0.2u.tar.gz";
SSL_102_tasks=("export TOOLCHAIN=@TOOLCHAIN@;"); 
SSL_102_tasks+=("export CC=@CC@;"); 
SSL_102_tasks+=("export RANLIB=@RANLIB@;"); 
SSL_102_tasks+=('export PATH="$TOOLCHAIN/bin:$PATH";'); 
SSL_102_tasks+=("./Configure --prefix=@PREFIX@/ linux-generic32 shared;"); 
SSL_102_tasks+=("make;"); 
SSL_102_tasks+=("make install SHLIB_VERSION_NUMBER=1.0.2 SHLIB_MINOR=0.2;"); 

#OpenSSL 1.0.0t
SSL_100="1";
SSL_100_name="OpenSSL";
SSL_100_version="1.0.0t";
SSL_100_check="openssl.pc";
SSL_100_url="https://www.openssl.org/source/openssl-1.0.0t.tar.gz";
SSL_100_tasks=("export TOOLCHAIN=@TOOLCHAIN@;"); 
SSL_100_tasks+=("export CC=@CC@;"); 
SSL_100_tasks+=("export RANLIB=@RANLIB@;"); 
SSL_100_tasks+=('export PATH="$TOOLCHAIN/bin:$PATH";'); 
SSL_100_tasks+=("./Configure --prefix=@PREFIX@/ linux-generic32 shared;"); 
SSL_100_tasks+=("make;"); 
SSL_100_tasks+=("make install;"); 

#OpenSSL 0.9.8zf
SSL_098="1";
SSL_098_name="OpenSSL";
SSL_098_version="0.9.8zf";
SSL_098_check="openssl.pc";
SSL_098_url="https://www.openssl.org/source/openssl-0.9.8zf.tar.gz";
SSL_098_tasks=("export TOOLCHAIN=@TOOLCHAIN@;"); 
SSL_098_tasks+=("export CC=@CC@;"); 
SSL_098_tasks+=("export RANLIB=@RANLIB@;"); 
SSL_098_tasks+=('export PATH="$TOOLCHAIN/bin:$PATH";'); 
SSL_098_tasks+=("./Configure --prefix=@PREFIX@/ linux-generic32 shared;"); 
SSL_098_tasks+=("make;"); 
SSL_098_tasks+=("make install;"); 

#libusb 1.0.23
LIB_USB="1";
LIB_USB_name="libusb";
LIB_USB_version="1.0.23";
LIB_USB_check="libusb-1.0.pc";
LIB_USB_url="https://github.com/libusb/libusb/archive/v1.0.23.zip";
LIB_USB_tasks=("export TOOLCHAIN=@TOOLCHAIN@;"); 
LIB_USB_tasks+=("export CC=@CC@;"); 
LIB_USB_tasks+=('export PATH="$TOOLCHAIN/bin:$PATH";'); 
LIB_USB_tasks+=("./bootstrap.sh;"); 
LIB_USB_tasks+=("./configure --prefix=@PREFIX@/ --host=@HOST@ --disable-udev;"); 
LIB_USB_tasks+=("make;"); 
LIB_USB_tasks+=("make install;"); 

#PCSC-Lite 1.8.26
LIB_PCSC="1";
LIB_PCSC_name="PCSC-Lite";
LIB_PCSC_version="1.8.26";
LIB_PCSC_check="libpcsclite.pc";
LIB_PCSC_url="https://pcsclite.apdu.fr/files/pcsc-lite-1.8.26.tar.bz2";
LIB_PCSC_tasks=("export TOOLCHAIN=@TOOLCHAIN@;"); 
LIB_PCSC_tasks+=("export CC=@CC@;"); 
LIB_PCSC_tasks+=('export PATH="$TOOLCHAIN/bin:$PATH";'); 
LIB_PCSC_tasks+=("./configure --prefix=@PREFIX@/ --host=@HOST@ --disable-libudev --disable-libsystemd LIBUSB_LIBS=\"-L@PREFIX@/lib -lusb-1.0 -lrt\" LIBUSB_CFLAGS=\"-I@PREFIX@/include/libusb-1.0\";"); 
LIB_PCSC_tasks+=("make;"); 
LIB_PCSC_tasks+=("make install;"); 

#zlib 1.2.11
LIB_ZLIB="1";
LIB_ZLIB_name="zlib";
LIB_ZLIB_version="1.2.11";
LIB_ZLIB_check="zlib.pc";
LIB_ZLIB_url="https://www.zlib.net/zlib1211.zip";
LIB_ZLIB_tasks=("export TOOLCHAIN=@TOOLCHAIN@;"); 
LIB_ZLIB_tasks+=("export CC=@CC@;"); 
LIB_ZLIB_tasks+=('export PATH="$TOOLCHAIN/bin:$PATH";'); 
LIB_ZLIB_tasks+=("./configure --prefix=@PREFIX@/;"); 
LIB_ZLIB_tasks+=("make;"); 
LIB_ZLIB_tasks+=("make install;"); 
